@import "tailwindcss";

@theme {
    --color-primary: var(--color-orange-500);
}

body {
    background-size: 2rem 2rem;
    background-image:
        linear-gradient(to right, gray 1px, transparent 1px),
        linear-gradient(to bottom, gray 1px, transparent 1px);
}